<section class="card-wide">
  <a href="/blogpost/{{id}}">
    <header>
      <span>{{title}}</span>
      <span>Posted by {{user_name}} on {{ format_date post_date }}</span>
    </header>
  </a>
  <section>
    {{contents}}
  </section>
</section>