<section class="card">
  <a href="/blogpost/{{id}}">
    <header>
      <span>{{title}}</span>
      <span>Posted by {{user_name}} on {{ format_date post_date }}</span>
    </header>
  </a>
  <section>
    {{contents}}
  </section>
</section>

{{!-- <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}" --}}
