{{!-- Rename and change to comment-details.hbar --}}

<section class="card">
  <a href="/painting/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>